.dashboard-layout {

  .main {
    width: 100%;
    .form-control {
      background-color: $main-input-bg;
    }

    .custom-select {
      background: $main-input-bg $custom-select-background;
    }

    .select2-container {
      .select2-selection--single {
        background-color: $main-input-bg;
      }
    }
  }

  & ~ .select2-container--default {
    .select2-search--dropdown {
      .select2-search__field {
        background-color: $main-input-bg;
      }
    }
  }

  .action-buttons {
    @media (min-width: 576px) {
      display: flex;
      justify-content: space-between;
    }

    .cancel-btn, .ok-btn {
      width: 100%;
      @media (min-width: 576px) {
        width: auto;
      }
    }

    .cancel-btn {
      margin-bottom: 1rem;
      @media (min-width: 576px) {
        margin: 0;
      }
    }
  }

}
