$white: #fff;
$gray-100: #ECEFF1;
$gray-200: #CFD8DC;
$gray-300: #B0BEC5;
$gray-400: #90A4AE;
$gray-500: #78909C;
$gray-600: #607D8B;
$gray-700: #546E7A;
$gray-800: #455A64;
$gray-900: #37474F;
$black: #263238;
// Colores material con peso 600
$red: #e53935;
$pink: #D81B60;
$purple: #8E24AA;
$deep-purple: #5E35B1;
$indigo: #3949AB;
$blue: #1E88E5;
$light-blue: #039BE5;
$cyan: #00ACC1;
$teal: #00897B;
$green: #43A047;
$light-green: #7CB342;
$lime: #C0CA33;
$yellow: #FDD835;
$amber: #FFB300;
$orange: #FB8C00;
$deep-orange: #F4511E;
$brown: #6D4C41;
$primary: $light-blue;
$secondary: $gray-500;
$success: $light-green;
$info: $cyan;
$warning: $amber;
$danger: $red;
$light: $gray-200;
$dark: $gray-800;
//colores globales
$global-border-color: $gray-300;
$global-border-width: 2px;
$global-hover-color: $primary;
$global-hover-bg: lighten($primary, 50%);
$body-bg: white;
// Set Contrast Threshold
$yiq-contrasted-threshold: 195;
$container-max-widths: (
  //sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
);
// Typography
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$body-color: $gray-900;
$font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;
$font-weight-light: 300 !default;
$headings-font-weight: 400 !default;
// Shadows
//box-shadow: 2px 2px 0 rgba(6,41,66,.1);
$box-shadow-sm: 3px 3px 0 rgba($gray-900, .1);
$box-shadow: 4px 4px 0 rgba($gray-900, .1);
$box-shadow-lg: 5px 5px 0 rgba($gray-900, .1);
// Borders Radius
$border-radius: 0.35rem;
// Configuracion del dashboard
$sidebar-width: 14rem;
$main-bg: lighten($primary, 53%);
$main-input-bg: lighten($primary, 53%);
// Card
$card-cap-bg: rgba(#30465A, 0.1);
$card-border-color: rgba(#304d62, 0.3);
$card-border-width: $global-border-width;
// Adjust column spacing for symmetry
$spacer: 1rem;
$grid-gutter-width: $spacer * 1.5;
// Transitions
$transition-collapse: height .15s ease;
// Dropdowns
$dropdown-font-size: 1rem;
$dropdown-border-color: $global-border-color;
$dropdown-border-width: $global-border-width;
$dropdown-link-hover-color: $global-hover-color;
$dropdown-link-hover-bg: $global-hover-bg;
//formualrios
$input-color: $body-color;
$input-placeholder-color: $gray-300;
$input-disabled-bg: $gray-100;
$custom-select-border-width: $global-border-width;
$custom-control-indicator-border-color: $global-border-color;
$input-border-width: $global-border-width;
$input-border-color: $global-border-color;
$input-group-addon-bg: $gray-100;
// botones
$btn-border-width: $global-border-width;
//list-gropups
$list-group-border-width: $global-border-width;
$list-group-border-color: $global-border-color;
$list-group-action-hover-color: $global-hover-color;
$list-group-hover-bg: $global-hover-bg;
//paginacion
$pagination-border-width: $global-border-width;
$pagination-border-color: $global-border-color;
$pagination-disabled-border-color: $global-border-color;
$pagination-hover-border-color: $global-border-color;
$pagination-hover-bg: $gray-100;
//tabs
$nav-tabs-border-width: $global-border-width;
$nav-tabs-border-color: $global-border-color;
$nav-tabs-link-active-border-color: $global-border-color $global-border-color $body-bg;
$nav-tabs-link-hover-border-color: lighten($global-border-color, 10%) lighten($global-border-color, 10%) $nav-tabs-border-color;
//alerts
$alert-border-width: $global-border-width;
//modal
$modal-header-border-width: $global-border-width;
$modal-header-border-color: $global-border-color;
$modal-content-border-width: $global-border-width;
$modal-content-border-color: $global-border-color;
//tables
$table-border-width: $global-border-width;
$table-border-color: $global-border-color;
//popover
$popover-border-width: $global-border-width;
$popover-border-color: $global-border-color;
//jumbotron
$jumbotron-bg: $gray-100;
//breadcrumb
$breadcrumb-bg: $gray-100;
//progress
$progress-bg: $gray-100;