@import "others/normalize";

$gray: #E6E7E8;
$red: #D81B60;
$border-color: black;
@page {
  size: auto;
  margin: 0.5cm;
  font-family: sans-serif;
  font-size: 10pt;
  line-height: normal;
}

table {
  border-collapse: collapse;
  width: 100%;

  th, td {
    padding: 0;
    vertical-align: top;
  }
}

.header {
  display: block;
  text-align: left;
  margin-bottom: 0.5cm;

  h1 {
    font-size: 14pt;
    padding: 0;
    margin: 0;
    margin-bottom: 0.1cm;
  }

  p {
    padding: 0;
    margin: 0;
    font-size: 9pt;
  }
}

.meta-data {
  margin-top: 0.3cm;
  margin-bottom: 0.3cm;

  th, td {
    border: 1pt solid $border-color;
    vertical-align: middle;
    overflow: hidden;
  }

  th {
    text-transform: uppercase;
    width: 1.5cm;
    padding: 0.2cm;
    background: $gray;
    text-align: center;

    span {
      display: block;
    }
  }

  td {
    padding: 0.2cm;

    span {
      display: block;
    }
  }
}

.table {
  tr {
    th, td {
      overflow: hidden;

      &.bordered {
        border: 1pt solid $border-color;
      }
    }

    th {
      text-transform: uppercase;
      padding: 0 0.2cm;
      text-align: center;
      vertical-align: middle;
      height: 0.71cm;
      background: $gray;

      &.totals {
        background: none;
        text-align: right;
      }
    }

    td {
      padding: 0.2cm;
      vertical-align: top;
    }
  }
}

.empty {
  text-align: center;
  padding: 0.5cm;
  border: 1pt solid $border-color;
  font-size: 14pt;
}
